{% extends 'aspect/NewBase.html' %}


<!-- Title Of page -->
{% block title %}
        Status
{% endblock title %} 


{% block user_content %}
     <!--begin::Forgot-->
<div class="login-form  ">
    <div class="text-center mb-10 mb-lg-20">
        <h3 class="">Status</h3>
        <p class="text-muted font-weight-bold">Password reset link has been sent on your email</p>
    </div>

    <!--begin::Form-->
    <h3>Please check your email for instructions</h3>
    </form>
    <!--end::Form-->
</div>
<!--end::Forgot-->     
{% endblock user_content %}
