{% load static %}

<div id="kt_header" class="header header-fixed">
  <!--begin::Container-->
  <div
    class="container-fluid d-flex align-items-stretch justify-content-between"
  >
    <!--begin::Header Menu Wrapper-->
    <div
      class="header-menu-wrapper header-menu-wrapper-left"
      id="kt_header_menu_wrapper"
    >
      <!--begin::Header Menu-->
      <div
        id="kt_header_menu"
        class="header-menu header-menu-mobile header-menu-layout-default"
      >
        <!--begin::Header Nav-->
        <ul class="menu-nav">
        
          <li
            class="menu-item menu-item-submenu menu-item-rel"
            data-menu-toggle="click"
            aria-haspopup="true"
          >
            <a href="javascript:;" class="menu-link menu-toggle"
              ><span class="menu-text">Application</span><i class="menu-arrow"></i
            ></a>
            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
              <ul class="menu-subnav">

                {% if user.is_authenticated %}
          <li class="menu-item" aria-haspopup="true">
            <a href="{% url 'users:dashboard' %}" class="nav-link"
            ><span class="menu-text">WebSite</span></a> 
          </li>
          {% else %}
          <li class="menu-item" aria-haspopup="true">
            <a href="{% url 'users:login' %}" class="nav-link"
            ><span class="menu-text">WebSite</span></a>
          </li>
          
          {% endif %}
          
              {% if user.is_authenticated %}
              <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'users:dashboard' %}" class="nav-link"
                ><span class="menu-text">Wellcome: {{user.user_name}}</span></a>
              </li>

             

              <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'users:edit' user.id %}" class="nav-link"
                ><span class="menu-text">Edit Details</span></a>
              </li>
              
              
              <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'users:logout' %}" class="nav-link "
                ><span class="menu-text">Logout</span></a>
              </li>

             
              {% else %}
              <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'users:login' %}" class="nav-link "
                ><span class="menu-text">Login</span></a>
              </li>
              

              <li class="menu-item" aria-haspopup="true">
                <a href="{% url 'users:register' %}" class="nav-link "
                ><span class="menu-text">Register</span></a>
              </li>
                
              {% endif %}

        <!-- End:: Old_Nav_Bar_Code -->
                 
              </ul>
            </div>
          </li>
        
        <!--end::Header Nav-->
      </div>
      <!--end::Header Menu-->
    </div>
    <!--end::Header Menu Wrapper-->
   
    <!--begin::Topbar-->
    <div class="topbar">       
      <!--begin::User-->
      <div class="topbar-item">
        <div
          class="
            btn btn-icon btn-icon-mobile
            w-auto
            btn-clean
            d-flex
            align-items-center
            btn-lg
            px-2
          "
          id="kt_quick_user_toggle"
        >
          
          {% if user.is_authenticated %}
          <span
            class="
              text-dark-50
              font-weight-bolder font-size-base
              d-none d-md-inline
              mr-1
              
            "
            >Hi, {{ user.email}}</span>
          {% endif %}
          {% if perms.users.super_Admin_permission %}
          <span
          class="
            text-success display-4
            font-weight-bold font-size-base
            d-none d-md-inline
            ml-4">S/A</span>
          {% else %}
          <span
          class="
            text-info display-4
            font-weight-bold font-size-base
            d-none d-md-inline
            ml-4">N/A</span>
          {% endif %}
          
        </div>
        <a class="btn btn-danger ml-3" href="{% url 'users:logout' %}"> Logout </a>
      </div>
      <!--end::User-->
    </div>
    <!--end::Topbar-->
  </div>
  <!--end::Container-->
</div>
