{% load static %}
<!DOCTYPE html>

<html lang="en">
  <!--begin::Head-->
  <head>
    <base href="" />
    <meta charset="utf-8" />
    <title>{% block title %} BaseFile {% endblock title %}</title>
    <link rel="stylesheet" href="{% static './style.css' %}">
    
    <link
      href="{% static 'assets/css/pages/login/classic/login-2.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <meta
      name="description"
      content="Metronic admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets. "
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="canonical" href="https://keenthemes.com/metronic" />

    <!--begin::Fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    />
    <!--end::Fonts-->

    <!--begin::Page Vendors Styles(used by this page)-->
    <link
      href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!--end::Page Vendors Styles-->

    <!--begin::Global Theme Styles(used by all pages)-->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/global/plugins.bundle.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/style.bundle.css' %}"
      type="text/css"
    />
    <!--end::Global Theme Styles-->

    <!--begin::Layout Themes(used by all pages)-->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/themes/layout/header/base/light.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/themes/layout/header/menu/light.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/themes/layout/brand/dark.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/themes/layout/aside/dark.css' %}"
    />

    <!--end::Layout Themes-->

    <link
      rel="shortcut icon"
      href="{% static './assets/media/logos/favicon.ico' %}"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

  </head>
  <!--end::Head-->

  <!--begin::Body-->
  <body
    id="kt_body"
    class="
      header-fixed header-mobile-fixed
      subheader-enabled subheader-fixed
      aside-enabled aside-fixed aside-minimize-hoverable
      page-loading
    "
  >
    <!--begin::Main-->

    <!--begin::Header Mobile-->
    {% block 'headerMobile' %} 
        {% include 'dashboard/header/header_mobile.html' %} 
    {% endblock %}

    <!--end::Header Mobile-->

    <div class="d-flex flex-column flex-root">
      <!--begin::Page-->
      <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Aside-->
        {% block aside %} 
            {% include 'dashboard/aside.html' %} 
        {% endblock aside %}
        <!--end::Aside-->

        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <!--begin::Header_1-->
          {% block header_1 %} 
            {% include 'dashboard/header/header_1.html' %} 
            {% endblock header_1 %}
          <!--end::Header_1-->
          <div class="box-container">
            <div class="profile">
    
              <h2 class="text-center">Wellcome,
                  {% if perms.users.super_Admin_permission %}
                         As super Admin User
                  {% else %}
                        As Non Admin User
                  {% endif %}
              </h2>
              <hr>
              
              <div class="profile-details">
            {% block content %} {% endblock content %}
          </div>
        </div>
          </div>
          
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Page-->
    </div>
    <!--end::Main-->

    <!--end::Demo Panel-->
    <!-- Start ::Scripts -->
    {% block scripts %} 
        {% include 'dashboard/scripts.html' %} 
    {% endblock scripts %}
    <!-- End ::Scripts  -->
  </body>
  <!--end::Body-->
</html>
