{% extends 'aspect/NewBase.html' %}

<!-- Title Of page -->
{% block title %}
   Logout
{% endblock title %} 


{% block user_content %}
     <!--begin::Forgot-->
<div class="login-form  ">
    <div class="text-center mb-10 mb-lg-20">
        <h3 class="">Logout Page</h3>
        <p class="text-muted font-weight-bold">You have been successfully logged out</p>
    </div>

    <div class="border-top p-4">
        <h5 class="text-center">
         <a class="ml-2" href="{% url 'users:login' %}"><button class="btn btn-success btn-sm">Login Again</button></a>
        </h5>
    </div>
</div>
<!--end::Forgot-->     
{% endblock user_content %}
