{% extends 'aspect/NewBase.html' %}


<!-- Title Of page -->
{% block title %}
    Signup Page 
{% endblock title %} 


{% block user_content %}
    <!--begin::Signup-->
 
    <div class="text-center mb-10 mb-lg-20">
        <h3 class="">Sign Up</h3>
        <p class="text-muted font-weight-bold">
        Enter your details to create your account
        </p>
    </div>

    <!--begin::SignUp Form-->

    <form class="form" method="POST">
        {% csrf_token %}

        <div class="form-group py-3 m-0">{{ form.user_name }}</div>
        <div class="form-group py-3 border-top m-0">{{ form.email }}</div>
        <div class="form-group py-3 border-top m-0">{{ form.password1 }}</div>
        <div class="form-group py-3 border-top m-0">{{ form.password2 }}</div>
        <div class="form-group mt-5">
        <div class="checkbox-inline">
            <label class="checkbox checkbox-outline">
            <input type="checkbox" name="agree" />
            <span></span>
            I Agree the
            <a href="#" class="ml-1">terms and conditions</a>.
            </label>
        </div>
        </div>
        <div class="form-group d-flex flex-wrap flex-center">
        <button
            id="kt_login_signup_submit"
            class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2"
            type="submit"
        >
            Submit
        </button>
        </div>
    </form>
    <!--end::signUp Form-->
    
    <!--end::Signup-->
{% endblock user_content %}
