{% extends 'base.html' %}
{% load static %}
 

<!-- Title Of page -->
{% block title %}
user dashboard
{% endblock title %}

{% block content %}


    <table class="table">
        <thead>
          <tr>
            <th scope="col">user_name</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email Id</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>


          </tr>
        </thead>
        <tbody>
        {% if perms.users.super_Admin_permission %}
            {% for person in site_users %}
          <tr>
            <td>{{ person.user_name }}</td>
            <td class="cap" >{{ person.first_name }}</td>
            <td class="cap" >{{ person.last_name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.mobile_number }}</td>
            <td><a href="{% url 'users:edit' person.id %}">Edit</a>   </td>
          </tr>
          {% endfor %}
          
        {% else %}
            <tr>
                <td>{{ user.user_name }}</td>
                <td class="cap" >{{ user.first_name }}</td>
                <td class="cap" >{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile_number }}</td>
                <td><a href="{% url 'users:edit' user.id %}">Edit</a>  </td>

            </tr>
        {% endif %}
        </tbody>
      </table>
    {% if perms.users.super_Admin_permission %}
      <div class="mt-4 text-center">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

  {% endif %} 
      </div>
   {% endif %}

       
        



{% endblock content %}
