{% extends 'users/aspect/NewBase.html' %} 

{% load crispy_forms_tags %}

<!-- Title Of page -->
{% block title %}Signin Page {% endblock title %} 

{% block user_content %}

          <!--begin::Signin-->
          <div class="login-form login-signin">
            <div class="text-center mb-10 mb-lg-20">
              <h2 class="font-weight-bold">Sign In</h2>
              <p class="text-muted font-weight-bold">
                Enter your username and password  
            </div>

            <!--begin::Form-->
            <form
              class="form"
              method="post"
              action="."
            >
            {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                The credentials you provided cannot be determined to be authentic.
            </div>
        {% endif %}
            {% csrf_token %}
           

              <div class="form-group py-3 m-0">
                <p class="font-weight-bold text-dark px-1">Username</p>
                <input
                  class="form-control h-auto border-0 px-4 placeholder-dark-75"
                  type="Email"
                  placeholder="Email"
                  name="username"
                  autocomplete="off"
                />
              </div>
              <div class="form-group py-3 border-top m-0">
                <p class="font-weight-bold text-dark px-1">Password</p>
                
                <input
                  class="form-control h-auto border-0 px-4 placeholder-dark-75"
                  type="Password"
                  placeholder="Password"
                  name="password"
                />
              </div>

              <div
                class="
                  form-group
                  d-flex
                  flex-wrap
                  justify-content-between
                  align-items-center
                  mt-3
                "
              >
                
                <a
                  href="{% url 'users:pwdreset' %}"
                  id="kt_login_forgot"
                  class="mt-2 text-primary font-weight-bold"
                  >Forgot Password ?</a
                >
              </div>

             
              <div>
                <button
                id="kt_login_signin_submit"
                class="btn btn-danger font-weight-bold px-9 py-4 btn-block"
              >
                Sign In
              </button>
              </div>
                <div class="my-9 mr-2 text-center">
                  <span class="text-muted font-weight-bold mr-2">Create account?</span>
                  <a
                    href="{% url 'users:register' %}"
                    id="kt_login_signup"
                    class="font-weight-bold"
                  >
                    Signup
                  </a>
                </div>
               
               
            </form>
            <!--end::Form-->
          </div>
          <!--end::Signin-->




{% endblock user_content %}
